.header-SangueSolidario {
    background-color: #74A3B5;
}

.Logo {
    color: white;
}

.links {
    color: white;
    text-decoration: none;
}

.container-carrossel {
    background-color: #F2F2F2;
}

.Logo {
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
}

.links {
    color: #fff;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.2s;
}

.links:hover {
    color: #f1c0c0;
}

.headerBotoes {
    padding: 5px;
}

.headerBotoes:hover {
    background: #3d6d80;
    color: #FFF;
    border-radius: 30px;
    padding: 5px;
    transition: 0.3s;
}
